QMainWindow{
    background-image: url(':/app/background');
}

QToolBar{
    padding: 5px 0;
}

QDialog{
    background-color: #ccc;
}

QGroupBox QLabel,
QTabWidget QGroupBox QLabel,
QLabel{
    color: #444;
    font-size: 14px;
    font-weight: 600;
}

QTabWidget QLabel{
    color: rgb(85, 85, 85);
}

QGroupBox,
QGroupBox QRadioButton{
    color: #444;
}

QGroupBox{
    background-color: rgba(234, 234, 234, 150);
    border: .5px solid #D14836;
    padding:0px;
    padding-top: 20px;
}

QMenuBar, QMenu{
    background-color: #444;
    border: 0.8px solid #888;
    color: #fff;
}

QMenuBar{
    padding: 5px 0;
}

QMenu{
    padding: 8px;
}

QMenuBar::item:!enabled{
    color: #333;
}

QGroupBox::title{
    margin: 0px;
    border: .5px solid #D14836;
    background-color:qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(255, 255, 255, 255), stop:0.0285714 rgba(221, 75, 57, 255), stop:1 rgba(209, 2, 54, 255));
    padding: 5px;
    border-bottom-right-radius: 5px;
    color:#DDDDDD;
}

QComboBox,
QLineEdit,
QDoubleSpinBox,
QSpinBox,
QDateEdit,
QTextEdit{
    padding: 5px;
    border: 1px solid #444;
    border-radius: 5px;
}

QToolButton{
    padding: 5px;
    background-color: rgb(215, 61, 50);
    border: 1px solid rgb(200, 46, 35);
    border-radius: 5px;
    color: #eee;
}

QToolButton:hover{
    background-color: rgb(205, 51, 40);
    color: #aaa;
}

QToolButton:disabled{
    background-color: rgb(235, 81, 70);
    color: #888;
}

QTextEdit{
    background-color: #fff;
}

QComboBox:focus,
QLineEdit:focus,
QDoubleSpinBox:focus,
QSpinBox:focus{
    border-color: #f0a0a0;
}


QSpinBox::up-button,
QDoubleSpinBox::up-button,
QSpinBox::down-button,
QDoubleSpinBox::down-button,
QComboBox::drop-down,
QDateEdit::drop-down,
QDateEdit::down-button,
QDateEdit::up-button{
    background-color: transparent;
}

QComboBox::drop-down,
QDateEdit::drop-down{
    border-left: 1px solid #444;
    padding: 0 3px;
}

QDoubleSpinBox::down-arrow,
QSpinBox::down-arrow,
QComboBox::down-arrow,
QDateEdit::down-arrow{
    image: url(':/crud/down-arrow');
}

QSpinBox::up-arrow,
QDoubleSpinBox::up-arrow,
QDateEdit::up-arrow{
    image: url(':/crud/up-arrow');
}

QSpinBox::up-arrow:hover,
QDoubleSpinBox::up-arrow:hover,
QDateEdit::up-arrow:hover{
    image: url(':/crud/up-arrow-hover');
}

QSpinBox::down-arrow:hover,
QDoubleSpinBox::down-arrow:hover,
QDateEdit::down-arrow:hover{
    image: url(':/crud/down-arrow-hover');
}

QSpinBox::up-arrow:pressed,
QDoubleSpinBox::up-arrow:pressed,
QDateEdit::up-arrow:pressed{
    image: url(':/crud/up-arrow-pressed');
}

QSpinBox::down-arrow:pressed,
QDoubleSpinBox::down-arrow:pressed{
    image: url(':/crud/down-arrow-pressed');
}


QPlainTextEdit[readOnly="true"],
QLineEdit[readOnly="true"],
QDoubleSpinBox[readOnly="true"],
QSpinBox[readOnly="true"]{
    color: rgb(255, 0, 0);
}

QPlainTextEdit{
    border-radius: 5px;
    background-color: white;
    border: 1px solid rgb(75, 75, 75);
}


QPushButton{
    background-color: rgb(48, 78, 166);
    color: #eee;
    border: 1px solid rgba(48, 78, 166, 75);
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}

QGroupBox::title:disabled{
    background-color: rgba(236, 90, 72);
}

QPushButton:hover{
    background-color: rgb(38, 68, 156);
    color: #666;
}

QPushButton:disabled{
    background-color: rgb(68, 98, 186);
    color: #444;
}

QListView{
    show-decoration-selected: 1;
    selection-color: red;
}

QTableView{
    alternate-background-color: rgb(255, 255, 146);
    background-color: rgb(255, 254, 207);
    color: #333333;
    font-size: 14px;
}

QTableView:disabled{
    background-color:rgb(170, 170, 127);
}

QTableView QHeaderView::section, QTreeView QHeaderView::section{
    background-color: #333333;
    color: #FFFFFF;
}

QTreeView{
    alternate-background-color: #c0ccc0;
    background-color: #e0eee0;
}

QTreeView::item{
    border-right: 1px solid #bbb;
}

QTreeView::branch:has-siblings:!adjoins-item {
    border-image: url(':/branch/vline') 0;
}

QTreeView::branch:has-siblings:adjoins-item {
    border-image: url(':/branch/more') 0;
}

QTreeView::branch:!has-children:!has-siblings:adjoins-item {
    border-image: url(':/branch/end') 0;
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
        border-image: none;
        image: url(':/branch/closed');
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
        border-image: none;
        image: url(':/branch/open');
}
